<section id="advantages_wrap">
    <div class="adv_caption">
        <div class="row">
            <div class="col-sm-12">
                <h1>Анкор Крым</h1>
                <h2>Поликарбонат и комплектующие, козырьки и навесы</h2>
            </div>
        </div>
    </div>
    <div class="adv_number">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <p>С <span>2005</span> года<br>работаем в<br>Крыму</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <p>Более <span>50</span> видов<br>поликарбоната</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <p>Более <span>1200</span> <br>объектов смонтировали</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <p>От <span>20</span> лет -<br>срок службы наших<br>конструкций</p>
            </div>
        </div>
    </div>
    <div class="adv_items">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4">
                <h2>Продажа поликарбоната и профилей Анкор Крым</h2>
                <p>Все материалы для прозрачной кровли в одном месте</p>
                <ul>
                    <li>
                        <i class="material-icons"></i> Срок службы от 20 лет</li>
                    <li>
                        <i class="material-icons"></i> Соответсвие сертификатам качества</li>
                    <li>
                        <i class="material-icons"></i> Консультация, раскрой, подбор комплектующих</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4">
                <h2>Монтаж конструкций из поликарбоната Анкор Крым</h2>
                <p>От козырька до перекрытия стадиона</p>
                <ul>
                    <li>
                        <i class="material-icons"></i> Расчет ветровых и снеговых нагрузок</li>
                    <li>
                        <i class="material-icons"></i> Материалы со сроком службы 25 лет</li>
                    <li>
                        <i class="material-icons"></i> Монтаж “под ключ”</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4">
                <h2>Продажа наборов “СДЕЛАЙ САМ” Анкор Крым</h2>
                <p>Соберите козырек или навес по своему вкусу своими руками</p>
                <ul>
                    <li>
                        <i class="material-icons"></i> Любая длина и заполнение козырька или навеса</li>
                    <li>
                        <i class="material-icons"></i> Простая сборка в течение 2 часов</li>
                    <li>
                        <i class="material-icons"></i> Устойчивость к коррозии более 10 лет</li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% schema %}
{
"name": "Advantages",
"settings": [],
"presets": [
    {
    "name": "Advantages",
    "category": "WeDo"
    }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}