<section id="team_wrap">
    <div class="team_caption">
        <div class="row">
            <div class="col-sm-12">
                <h2>Команда Анкор Крым</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-4 person">
            <div class="person_wrap">
                <div class="person_icon">
                    <i class="material-icons"></i>
                </div>
                <div class="person_descr">
                    <p class="title">Розничный менеджер</p>
                    <p class="text">проконсультирует Вас по подбору материалов и их количества</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 person hand">
            <div class="person_wrap">
                <div class="person_icon">
                    <i class="material-icons"></i>
                </div>
                <div class="person_descr">
                    <p class="title">Оптовый менеджер</p>
                    <p class="text">организует своевременную поставку любого количества поликарбоната и комплектующих</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 person">
            <div class="person_wrap">
                <div class="person_icon">
                    <i class="material-icons"></i>
                </div>
                <div class="person_descr">
                    <p class="title">Инженер конструкций</p>
                    <p class="text">расчитает нагрузки и воплотит Вашу идею в проект</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 person">
            <div class="person_wrap driver">
                <div class="person_icon">
                    <i class="material-icons"></i>
                </div>
                <div class="person_descr">
                    <p class="title">Водители</p>
                    <p class="text">доставят Ваш заказ в любую точку Крыма  вовремя и без повреждений</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 person">
            <div class="person_wrap brigade">
                <div class="person_icon">
                    <i class="material-icons"></i>
                </div>
                <div class="person_descr">
                    <p class="title">Производственная бригада</p>
                    <p class="text">смонтирует конструкцию быстро, правильно и качественно</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="line"> </div>
        <div class="team_call">
            <div class="col-md-10">
                <p class="team_call_text">Анкор Крым сопроводит Вас на любом этапе строительства - от покупки материалов до монтажа прозрачной
                    кровли под ключ. Закажите обратный звонок, и менеджер компании Анкор Крым проконсультирует Вас!</p>
            </div>
            <div class="col-md-2 team_call_btn">
                <button type="button" class="callback-btn" data-toggle="modal" data-target="#modal-callback">Обратный звонок</button>
            </div>
        </div>
        <div class="line"> </div>
    </div>
</section>

{% schema %}
{
"name": "Our Team",
"settings": [],
"presets": [
    {
    "name": "Our Team",
    "category": "WeDo"
    }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}