@charset "UTF-8";
body a:hover, body a:focus, body a:active {
  text-decoration: none;
  outline: none; }

body input, body textarea, body button {
  outline: none; }

body input:active, body textarea:active {
  outline: none; }

body :focus {
  outline: none; }

body textarea {
  resize: none; }

body textarea {
  resize: vertical; }

body textarea {
  resize: horizontal; }

/*----------------------MY CUSTOM STYLES----------------------------*/
/*top menu*/
.wrap-top-menu .items-menu ul {
  margin: 0; }
  .wrap-top-menu .items-menu ul .item {
    display: inline;
    padding-right: 7px; }

/*END top menu*/
/*header*/
.site-header .wrapper .grid--full .grid__item {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media (max-width: 991.98px) {
    .site-header .wrapper .grid--full .grid__item {
      flex-direction: column; } }
  .site-header .wrapper .grid--full .grid__item nav {
    width: 100%; }
    .site-header .wrapper .grid--full .grid__item nav .site-nav {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      background-color: #8f8f8f; }
      .site-header .wrapper .grid--full .grid__item nav .site-nav li a {
        background-color: transparent;
        color: #FFFFFF; }
        @media (max-width: 1199.98px) {
          .site-header .wrapper .grid--full .grid__item nav .site-nav li a {
            padding: 7px 7px 7px 7px; } }
        .site-header .wrapper .grid--full .grid__item nav .site-nav li a:hover {
          color: #000000;
          text-decoration: none; }
  .site-header .wrapper .grid--full .grid__item .site-header__logo {
    width: 70%; }
    @media (max-width: 991.98px) {
      .site-header .wrapper .grid--full .grid__item .site-header__logo .logo__image-wrapper {
        margin: 0 auto; } }
  .site-header .wrapper .grid--full .grid__item .wrap-tel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; }
    .site-header .wrapper .grid--full .grid__item .wrap-tel .icon {
      background-color: #1bbc9b;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 15px; }
      .site-header .wrapper .grid--full .grid__item .wrap-tel .icon i {
        color: #ffffff;
        font-size: 20px; }
    .site-header .wrapper .grid--full .grid__item .wrap-tel .tel p {
      margin: 15px 0 15px 0;
      font-size: 18px;
      letter-spacing: 2px; }
      @media (min-width: 576px) and (max-width: 1199.98px) {
        .site-header .wrapper .grid--full .grid__item .wrap-tel .tel p {
          font-size: 15px; } }
  .site-header .wrapper .grid--full .grid__item .wrap-callback {
    display: flex;
    justify-content: center;
    width: 100%; }
    .site-header .wrapper .grid--full .grid__item .wrap-callback .callback-btn {
      background-color: #1bbc9b;
      border: none;
      padding: 4px 10px;
      border-radius: 20px;
      color: #FFFFFF; }
  .site-header .wrapper .grid--full .grid__item .wrap-search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; }
    .site-header .wrapper .grid--full .grid__item .wrap-search .search-input {
      margin: 0;
      border: 1px solid #ccc;
      border-radius: 20px;
      width: 290px;
      position: relative; }
    .site-header .wrapper .grid--full .grid__item .wrap-search .btn-input {
      position: relative;
      margin-left: -30px; }
      .site-header .wrapper .grid--full .grid__item .wrap-search .btn-input a {
        display: flex;
        align-items: center; }
        .site-header .wrapper .grid--full .grid__item .wrap-search .btn-input a i {
          color: #000000; }
  .site-header .wrapper .grid--full .grid__item .wrap-cart {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 80%; }
    .site-header .wrapper .grid--full .grid__item .wrap-cart .header-bar__module .cart-page-link .header-bar__cart-icon {
      font-size: 40px; }

/*END header*/
/*------------------section advantages-----------------*/
#advantages_wrap {
  margin-top: 60px; }
  #advantages_wrap .adv_caption {
    display: flex;
    justify-content: center; }
    #advantages_wrap .adv_caption h1, #advantages_wrap .adv_caption h2 {
      text-align: center;
      color: #000000;
      margin: 0;
      font-weight: bold; }
    #advantages_wrap .adv_caption h1 {
      text-transform: uppercase; }
  #advantages_wrap .adv_number {
    margin: 70px 0 60px 0; }
    #advantages_wrap .adv_number p > span {
      color: #F56708;
      font-size: 55px;
      letter-spacing: -5px; }
    #advantages_wrap .adv_number p {
      text-align: center;
      font-size: 20px;
      color: #000000;
      height: 100px;
      line-height: 30px; }
  #advantages_wrap .adv_items {
    margin-top: 30px; }
    #advantages_wrap .adv_items h2 {
      color: #000000;
      text-align: center;
      font-size: 24px;
      font-weight: bold; }
    #advantages_wrap .adv_items p {
      color: #909090;
      font-size: 14px;
      font-style: italic; }
    #advantages_wrap .adv_items ul > li {
      font-size: 16px;
      color: #000000;
      list-style-type: none;
      padding-top: 10px; }
      #advantages_wrap .adv_items ul > li i {
        color: #F56708;
        font-size: 20px; }
    #advantages_wrap .adv_items ul {
      padding: 0 0 0 5px; }

/*-----------------END section advantages--------------------*/
/*------------------section team-------------------------*/
#team_wrap {
  margin: 70px 0; }
  #team_wrap .team_caption h2 {
    text-align: center;
    text-transform: uppercase;
    color: #8F8F8F;
    font-size: 24px;
    margin-bottom: 40px;
    font-weight: bold; }
  #team_wrap .person {
    padding: 0;
    margin-bottom: 50px; }
  #team_wrap .hand .person_wrap .person_icon img {
    width: 66px;
    height: 64px; }
  #team_wrap .hand .person_wrap .person_icon i {
    font-size: 60px;
    color: #909090; }
  #team_wrap .person_wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    height: 100px;
    max-width: 390px; }
    #team_wrap .person_wrap .person_icon {
      display: flex;
      align-items: center;
      margin-right: 10px;
      min-width: 70px; }
      #team_wrap .person_wrap .person_icon img {
        width: 58px;
        height: 58px; }
      #team_wrap .person_wrap .person_icon i {
        font-size: 60px;
        color: #909090; }
    #team_wrap .person_wrap .person_descr .title {
      font-weight: bold;
      font-size: 18px;
      color: #000000;
      margin: 0; }
    #team_wrap .person_wrap .person_descr .text {
      font-size: 17px; }
  #team_wrap .driver {
    float: right;
    padding-right: 15px; }
    @media (max-width: 575.98px) {
      #team_wrap .driver {
        float: none; } }
    #team_wrap .driver .person_icon img {
      width: 65px;
      height: 62px; }
    #team_wrap .driver .person_icon i {
      font-size: 60px;
      color: #909090; }
  #team_wrap .brigade {
    float: left;
    margin-left: 15px; }
    #team_wrap .brigade .person_icon img {
      width: 62px;
      height: 53px; }
    #team_wrap .brigade .person_icon i {
      font-size: 60px;
      color: #909090; }
  #team_wrap .team_call {
    display: flex;
    width: 100%;
    min-height: 75px;
    padding: 16px 0; }
    @media (max-width: 575.98px) {
      #team_wrap .team_call {
        flex-direction: column; } }
    #team_wrap .team_call .team_call_text {
      font-size: 16px; }
      @media (max-width: 575.98px) {
        #team_wrap .team_call .team_call_text {
          text-align: center; } }
    @media (max-width: 575.98px) {
      #team_wrap .team_call .team_call_btn {
        text-align: center; } }
  #team_wrap .line {
    width: 100%;
    height: 1px;
    background: #909090; }

.callback-btn {
  background-color: #1bbc9b;
  border: none;
  padding: 4px 10px;
  border-radius: 20px;
  color: #FFFFFF; }

/*--------------------END section team---------------------*/
.scup {
  right: 0;
  left: 10px; }

.breadcrumb {
  background-color: transparent; }

/*карточка товара*/
.title-product, .title-descr-product {
  color: #D4D4D4;
  font-weight: bold; }
  @media (max-width: 767.98px) {
    .title-product, .title-descr-product {
      font-size: 25px; } }

@media (max-width: 767.98px) {
  .wrap-tabs .nav-tabs {
    flex-direction: column; } }

.wrap-tabs .nav-tabs .nav-item .nav-link.active {
  background-color: #353d44;
  color: #FFFFFF; }

.tab-content {
  min-height: 40vh; }

.grid .second-col, .grid .third-col {
  padding-top: 45px; }

.grid .second-col #AddToCartForm .btn {
  margin-bottom: 5px; }

.grid .third-col .wrap-advantage {
  display: flex;
  align-items: center;
  background-color: #F9F9F7;
  margin-bottom: 15px;
  padding: 15px 0; }
  .grid .third-col .wrap-advantage .icon {
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: center; }
    .grid .third-col .wrap-advantage .icon i {
      font-size: 50px;
      color: #353d44;
      font-weight: bold; }
  .grid .third-col .wrap-advantage .text {
    font-size: 20px;
    font-weight: bold;
    color: #8f8f8f;
    line-height: 30px; }

@media only screen and (min-width: 769px) {
  .product-single .product-single__hero .post-large--one-half {
    width: 33.33%; } }

/*----------Каталог----------*/
/*Пагинация*/
.pagination-custom li span {
  background-color: #353d44;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center; }

.pagination-custom li a {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center; }

.pagination-custom li:first-child span, .pagination-custom li:last-child span {
  background-color: transparent; }

/*--Пагинация*/
/*----------END Каталог----------*/
/*-------FOOTER-------------*/
.site-footer .grid__item .wedo {
  color: #FFFFFF; }

/*-------END FOOTER-------------*/
/*--------------PopUP Callback------------------*/
#modal-callback .modal-dialog .modal-content .modal-body #artCallback .form-group .input-group {
  display: flex; }
  #modal-callback .modal-dialog .modal-content .modal-body #artCallback .form-group .input-group input[type="text"] {
    border: 1px solid #ccc; }

#modal-callback .modal-dialog .modal-content .modal-body #artCallback .blockTitleModal .phone-in-callback .title, #modal-callback .modal-dialog .modal-content .modal-body #artCallback .blockTitleModal p {
  margin: 0;
  font-size: 14px; }
  #modal-callback .modal-dialog .modal-content .modal-body #artCallback .blockTitleModal .phone-in-callback .title .phone, #modal-callback .modal-dialog .modal-content .modal-body #artCallback .blockTitleModal p .phone {
    font-weight: bold; }

#modal-callback .modal-dialog .modal-content .modal-header .modal-title {
  font-size: 16px; }

/*--------------END PopUP Callback------------------*/
